* {
    margin: 1% auto;
    padding: 0;
    box-sizing: border-box; 
  }
html {
        background-color: rgba(0, 0, 0, 0.8);
        color: whitesmoke;
        font-weight: 300;
        font-size: 100%;
        text-rendering: optimizeLegibility;
        max-width: 90vw;
     }
.clearfix {
 zoom: 1; }
.clearfix:after {
 content: '.';
 clear: both;
 display: block;
height: 0;
visibility: hidden; }


.row {
    max-width: 57rem; }
h1
{
    font-size: 180%;
  word-spacing: 4px;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 4%;
 text-shadow: 0.1rem 0.1rem 0.12rem orange;
 background: -webkit-linear-gradient(314deg,black, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

body
            {
                background-image: linear-gradient(90deg , rgba(0,0,0,0.8),rgba(0,0,0,0.1)), url(../image/bg.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
            }
           
                /*header section*/
            section.header
            {  
                font-size: 120%;
                position: sticky;
                top: 0;
                color: blanchedalmond;
                font-style: italic;
                text-align: left;
                background-color:black;
                border-radius: 20px;
                box-shadow:6px 6px 5px  rgb(168, 13, 65) ;
                opacity:70%;
                z-index: 2000;
            }
            section.header a
            {   
                font-size: 70%;
                text-decoration: none;
                color: whitesmoke;
                font-weight: 200;
            }
            section.header a:hover
            {
                text-decoration: none;
                background-color: #2e2e2d;
                border-radius: 20px;
                color: #ff5200;
                padding: 10px;
                font-weight: 500;
            }
                /*intro section*/

            section.intro
            {   
                margin-top: 30px;
                max-width: 80vw;
                background-image: linear-gradient(to right top, #0b61e2, #124e70da, #0087936b, #00bf737e, #a6eb1277),url("image/snapbg.jpg");
               background-size: cover;
               background-position: center;
               background-repeat: no-repeat;
                color:red;
                border-radius: 20px;
            }
            section.intro .pp_medium
            {
                height: 250px;
                width: 200px;
                border-radius: 20px;
                box-shadow: 5px 5px 12px orange;
                transition: all 0.8s ease-in-out;
            }
            section.intro .pp_medium:hover
            {
                transform: scale(1.05);
            }
            section.intro .intro_box
            {
                transform: translate(0%, 100%);
                background-image: linear-gradient(90deg, rgba(0,0,0,0.9),rgba(0,0,0,0.5));
                transition: all 1.8s;
                border-top-right-radius: 10px;
                border-top-left-radius: 40px;
                border-bottom-right-radius: 50px;
                border-bottom-left-radius: 10px;
            }
            section.intro .intro_box  span div
            {
                display: inline-block;
            }

            section.intro .intro_box  span div:hover
            {      background: rgb(137 177 99 / 57%);
                zoom: 1.02;
                transform: skewX(20deg) skew(10deg);
            }
                /*qbout_me section*/
          section.about_me
          {
            max-width: 80vw;
            margin : 2% auto;
            background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            color:red;
          }
          section.about_me .pp_small
          {
            height: 300px;
            width: 250px;
            border-radius: 40px;
            opacity: 90%;
          }
                /*skills section*/
            section.Skills
            {
                max-width: 80vw;
                margin : 2% auto;
                background-image: linear-gradient(90deg,rgba(250,250,250,0.8),rgba(250,250,250,0.5));
                font-size: 250%;
                transition: all 2s;
            }
            section.Skills h1:hover
            {
                transform: skewX(15deg) scale(1.05);
                text-shadow: 5px 5px 10px grey;
            }
                /*skills section*/
              section.footer
              {
                font-size: 120%;
                color: blanchedalmond;
                font-style: italic;
                text-align: left;
                background-color:rgba(236, 221, 221, 0.698);
                border-radius: 20px;
                box-shadow:6px 6px 5px  rgb(168, 13, 65) ;
                opacity:70%;
              }   
              section.footer .copyright
              {
                transform: translate(95% ,25%);
                color: #2e2e2d;
                font-weight: 700;
              }
 